server {
	listen 80 default_server;
	listen [::]:80 default_server;
	server_name {{ domain }} www.{{ domain }};

	include /etc/nginx/snippets/letsencrypt.conf;

	root /var/www/mydomain;
	index index.html;
	location / {
		try_files $uri $uri/ =404;
	}
}